<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>payday.app</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="css/{{style}}">
      <link rel="stylesheet" href="css/gradient-navbar.css">

   </head>
   <body style="background-color: rgb(248,244,244);">

{{{body}}}

   {{{_sections.script}}}

   </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="js/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>

 function myFunction() {

  $.ajax({
  type: "get",
  url: '/generateToken',
  data: {
    username: document.querySelector('#email').value,
    password: document.querySelector('#password').value
  },
  success: function(response) {

    if (response.result == 'redirect') {
      //redirecting to main page from here
    $.ajax({
      type: "get",
      beforeSend: function(request){
          request.setRequestHeader("auth-token", response.token);
      },
      url: '/homepage',
      success: function(response) {

        document.write(response);

      }

    });
  }
},
 error: function(err){

   window.alert('Please enter valid credentials');

 }

});
 }

  $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();  
    });
           
   
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Federal tax", "Medical tax", "State tax", "Health insurance", "Other deductions", "Social security tax"],
      datasets: [{
        label: "Deductiosn (USD$)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [2478,5267,734,784,433,500]
      }]
    },
    options: {
      legend: {
        display: true,
        position: 'bottom'
      },
      title: {
        display: true,
        text: 'Deductions'
      }
    }
});



$('input[type="radio"]').click(function() { 
    console.log('Radio clicked');
    var inputValue = $(this).attr("value"); 
    var targetBox = $("." + inputValue); 
    $(".selectt").not(targetBox).hide(); 
    $(targetBox).show(); 
}); 
                  
    </script>

</html>
       